@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 390px;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: var(--base-font-weight);
  color: var(--base-font-color);
  background: var(--color-white);

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 18px;
  }

  &.nav-active {
    @include m.maxMediaQuery(1023px) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 var(--base-margin-bottom);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  color: var(--heading-color);
}

h1,
.h1,
h2,
.h2,
h3 {
  font-weight: var(--heading-font-weight);
}

h1,
.h1 {
  font-size: var(--h1-font-size);

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 54px;
  }
}

h2,
.h2 {
  font-size: var(--h2-font-size);

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 50px;
  }
}

h3,
.h3 {
  font-size: var(--h3-font-size);

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 38px;
  }
}

h4,
.h4 {
  font-size: var(--h4-font-size);

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 32px;
  }
}

h5,
.h5 {
  font-size: var(--h5-font-size);
  font-weight: 700;

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

a {
  @include m.transition(color);
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  @include m.hover {
    color: var(--link-hover-color);
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.row {
  @include m.minMediaQuery(v.$breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.hide-sm {
  display: none;

  @include m.minMediaQuery(v.$breakpoint-tablet) {
    display: inline;
  }
}

.hide-md {
  display: none;

  @include m.minMediaQuery(v.$breakpoint-desktop) {
    display: inline-block;
    vertical-align: baseline;
  }
}

.custom-select {
  font-family: var(--second-font-family);
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  padding-top: 12px;
}
